.com_center{
    width: 962px;
    height: 565px;
    background: #fff;
    margin: 0 auto;
    margin: 10px;
    border-radius: 3px;
    display: inline-block;
}
.com_center_nav {
    width: 942px;
    height: 28px;
    background: #303338;
    border-radius: 3px;
    margin: 10px;
}

.com_center_text {
    float: left;
    margin: 6px 10px;
    font-size: 12px;
    color: #fff;
}
.com_center_h{
    margin:15px;
}
.com_center_h p{
    text-align: center;
    font-size: 16px;
}
.com_center_p{
    margin: 20px;
}
.com_center_p h5{
    text-indent:2em; 
    font-size: 14px;
    margin-bottom:4px; 
}
.com_center_p p{
    text-indent: 2em;
    font-size: 14px;
    line-height: 20px;
}
