.crew_center_block {
    width: 940px;
    /* height: 225px; */
    /* border-bottom: 1px solid rgb(231, 231, 231); */
    /* margin: 8px; */
    margin: 10px 10px 20px 10px;
}
.crew_center_block_text{
    width: 600px;
    float: left;
    border-bottom: 0.5px dashed #ccc;
    margin-bottom: 10px;
}

.crew_center_b_img_block{
    width: 268px;
    height: 400px;
    float: left;
    margin: 0px 10px 10px 0px;
}
.crew_center_b_img {
    width: 268px;
    height: 204px;
    border-radius: 3px;
    /* float: left; */

}

.crew_center_b_h {
    width: 157px;
    height: 25px;
    border-radius: 5px;
    float: left;
    margin: 2px 8px 8px 2px;
    /* text-align: center; */
    font-size: 14px;
    color: #fff;
    line-height: 25px;
}

.crew_center_b_h span {
    margin-left: 10px;
}

.bgw {
    background: #006766;
}

.bsw {
    background: #989933;
}


.crew_center_b_p {
    width: 600px;
    height: 80px;
    float: left;
    line-height: 25px;
    font-size: 14px;
    margin: 5px 0px 10px 8px;
    overflow: hidden;

}