.enter_container {
    width: 860px;
    overflow: auto;
    margin: 0px 0px 50px 50px;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 20px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 5px #dedede;
    background: rgb(218, 217, 217);
}

.enter_container::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.4);
}

.enter_center {
    width: 960px;
    height: 700px;
    margin: 0 auto;
}

.enter_center_img_left {
    width: 256px;
    height: 256px;
    margin: 30px 40px 16px 50px;
    text-align: center;
    background: #f7f7f5;
    border: 1px solid #ccc;
    float: left;
}

.enter_center_img_foot_c {
    width: 256px;
    height: 256px;
    margin: 30px 45px 16px 0px;
    text-align: center;
    background: #f7f7f5;
    border: 1px solid #ccc;
    float: left;
}

.enter_center_img_foot_r {
    width: 256px;
    height: 256px;
    margin: 30px 0px 16px 0px;
    float: right;
    text-align: center;
    background: #f7f7f5;
    border: 1px solid #ccc;
    float: left;
}

.enter_center_img_left img {
    margin-top: 18px;
}

.enter_center_img_foot_c img {
    margin-top: 18px;
}

.enter_center_img_foot_r img {
    margin-top: 18px;
}

.enter_center_img_right {
    width: 560px;
    height: 560px;
    margin: 30px 50px 16px 0px;
    float: right;
    text-align: center;
    background: #f7f7f5;
    border: 1px solid #ccc;
     position: relative;

}
.enter_center_img_right img {
    margin: 18px 0px;
    cursor: pointer;
   
}
.enter_center_img_right_hover{
    position: absolute;
    bottom:-6px;
    left: 19px;
    /* display: none; */
}

.enter_center_img_right_hover_p p{
    position: absolute;
    top:30px;
    font-size: 12px;
    color: #fff;
    left: 30px;
}
.enter_center_img_right_hover_p span {
    position: absolute;
    top: 50px;
    font-size: 12px;
    color: #fff;
    left: 30px;
}
/* .enter_center_img_right img:hover {
    visibility:hidden;
} */